*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;}

body{
    background: #a6ede9;
}

header{
    text-align: center;
}

img{
    max-width: 30%;    
    border-radius: 10px; 
    margin: 20px;
}

h2{
    margin: 10px;
    color: #354c4b;
}